/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: 18px;
  line-height: normal;
  font-family: var(--font-family), sans-serif;  
  font-weight: var(--text-font-weight); 
  color:var(--accent-color);
  background-color: var(--background-color);
  background-image: var(--bg-image);
  background-size: cover;
}
.header{
  background-color: #fff;
  margin: 120px auto;
  font-family: var( --accent-font-family);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  width: var(--main-width);
  padding-top: clamp(120px,27%,136px);
  border: 2px solid #000;
}
.main-title{
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}
.header-name{
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}
.theme-menu{
  margin: 25px 0px;
}
.theme-menu__list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.theme-menu__item{
  font-size: 14px;
}
.theme-menu__button{
  background:transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
@supports (font-variation-settings: normal){
  .page{
    font-weight: var(--text-font-weight);
  }
}
